<div class='nav-section'>
  <nav class='nav-container'>
    <a class='logo' href="#">World carts</a>    
    <h2 class='title'>Purchases</a>
    <h2><%= button_to 'Log out', destroy_user_session_path, method: :delete, class: 'log-out-xd' %></h2>      
  </nav>
</div>

<div class='page-cont'>
  
  <div class='total-cont'>
    <div class='total-cont1'>
    <h2>Total amount:</h2>
    <h2>$<%= Group.total_amount(@group) %></h2>
  </div>
  </div>
  
  <br>
  
    <div id="entities">
      <% @entities.each do |entity| %>
        <%= render entity %>
        <br>
      <% end %>
    </div>

    <div class='add-store-btn'>
      <div class='add-cart'>
       <%= link_to "New purchase", new_group_entity_path, class: "log-out-button1" %>
      </div>
        
      <div class='add-cart'>
        <%= link_to "Back to carts", groups_path, class: "log-out-button1" %>
    </div>
    </div>
</div>
